.days-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .active {
    background-color: aquamarine;
  }
}
