<div class="days-button">
  <button
    *ngFor="let value of daysValues; let index = index"
    (click)="selectDay(value)"
    class="buttonDay"
    [ngClass]="[
      value.dvalue == 1
        ? 'manageColorOk'
        : value.dvalue == 2
        ? 'manageColorWarning'
        : value.dvalue == 3
        ? 'manageColorStop'
        : 'manageColorNone'
    ]"
  >
    <span class="bold">{{ value.jour | date: 'd ' }}</span>
    <span>{{ value.jour | date: 'MMMM' }}</span>
  </button>
</div>
